body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #0a192f;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

section {
    background-color: #ffffff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0a192f;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

footer {
    text-align: center;
    background-color: #0a192f;
    color: white;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

a {
    color: #64ffda;
    text-decoration: none;
}
